In [8]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import time

In [13]:
products = pd.read_csv('data/Wa_Sales_Products_2012-14.csv')

In [15]:
products.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450

In [31]:
groups = products.groupby(by=['Retailer country', 'Quarter'])

In [32]:
groups.mean().head(20)

                            Year       Revenue    Quantity  Gross margin
Retailer country Quarter
Australia        Q1 2012  2012.0  18906.876142  403.845697      0.446321
                 Q1 2013  2013.0  30539.494720  559.519174      0.456356
                 Q1 2014  2014.0  41729.307912  756.250000      0.445961
                 Q2 2012  2012.0  16895.175467  344.487252      0.446051
                 Q2 2013  2013.0  37051.540029  648.576812      0.453804
                 Q2 2014  2014.0  46304.001311  816.393293      0.447167
                 Q3 2012  2012.0  17504.806761  340.140845      0.448517
                 Q3 2013  2013.0  34052.142800  579.376000      0.461012
                 Q3 2014  2014.0  28287.220462  491.246154      0.446856
                 Q4 2012  2012.0  19768.131373  402.621849      0.450948
                 Q4 2013  2013.0  37522.124826  659.457413      0.457902
Austria          Q1 2012  2012.0  25401.670751  538.202312      0.448336
                 Q1 2013  2013.0  30688.525339  574.880759      0.460925
                 Q1 2014  2014.0  35614.125013  636.334204      0.448704
                 Q2 2012  2012.0  23912.953258  467.457865      0.441735
                 Q2 2013  2013.0  29262.090053  518.322667      0.457862
                 Q2 2014  2014.0  41900.787028  729.183333      0.450644
                 Q3 2012  2012.0  23179.373278  474.661157      0.447822
                 Q3 2013  2013.0  27345.137760  481.919271      0.451601
                 Q3 2014  2014.0  23725.681168  420.929907      0.447378

In [33]:
groups.sum().head(20)

                            Year      Revenue  Quantity  Gross margin
Retailer country Quarter
Australia        Q1 2012  678044   6371617.26    136096    149.964018
                 Q1 2013  682407  10352888.71    189677    151.053868
                 Q1 2014  733096  15189468.08    275275    157.870105
                 Q2 2012  710236   5963996.94    121604    157.009965
                 Q2 2013  694485  12782781.31    223759    156.562335
                 Q2 2014  660592  15187712.43    267777    145.329274
                 Q3 2012  714260   6214206.40    120750    158.775061
                 Q3 2013  754875  12769553.55    217266    172.879428
                 Q3 2014  392730   5516007.99     95793     87.136922
                 Q4 2012  718284   7057222.90    143736    160.086380
                 Q4 2013  638121  11894513.57    209048    145.155059
Austria          Q1 2012  696152   8788978.08    186218    153.779082
                 Q1 2013  742797  11324065.85    212131    164.089443
                 Q1 2014  771362  13640209.88    243716    166.469262
                 Q2 2012  716272   8513011.36    166415    155.932575
                 Q2 2013  754875  10973283.77    194371    171.698359
                 Q2 2014  725040  15084283.33    262506    160.429274
                 Q3 2012  730356   8414112.50    172302    161.663742
                 Q3 2013  772992  10500532.90    185057    173.414810
                 Q3 2014  430996   5077295.77     90079     95.738949

In [34]:
groups.count().head(20)

                          Order method type  Retailer type  Product line  \
Retailer country Quarter
Australia        Q1 2012                337            337           337
                 Q1 2013                339            339           339
                 Q1 2014                364            364           364
                 Q2 2012                353            353           353
                 Q2 2013                345            345           345
                 Q2 2014                328            328           328
                 Q3 2012                355            355           355
                 Q3 2013                375            375           375
                 Q3 2014                195            195           195
                 Q4 2012                357            357           357
                 Q4 2013                317            317           317
Austria          Q1 2012                346            346           346
                 Q1 2013                369            369           369
                 Q1 2014                383            383           383
                 Q2 2012                356            356           356
                 Q2 2013                375            375           375
                 Q2 2014                360            360           360
                 Q3 2012                363            363           363
                 Q3 2013                384            384           384
                 Q3 2014                214            214           214

                          Product type  Product  Year  Revenue  Quantity  \
Retailer country Quarter
Australia        Q1 2012           337      337   337      337       337
                 Q1 2013           339      339   339      339       339
                 Q1 2014           364      364   364      364       364
                 Q2 2012           353      353   353      353       353
                 Q2 2013           345      345   345      345       345
                 Q2 2014           328      328   328      328       328
                 Q3 2012           355      355   355      355       355
                 Q3 2013           375      375   375      375       375
                 Q3 2014           195      195   195      195       195
                 Q4 2012           357      357   357      357       357
                 Q4 2013           317      317   317      317       317
Austria          Q1 2012           346      346   346      346       346
                 Q1 2013           369      369   369      369       369
                 Q1 2014           383      383   383      383       383
                 Q2 2012           356      356   356      356       356
                 Q2 2013           375      375   375      375       375
                 Q2 2014           360      360   360      360       360
                 Q3 2012           363      363   363      363       363
                 Q3 2013           384      384   384      384       384
                 Q3 2014           214      214   214      214       214

                          Gross margin
Retailer country Quarter
Australia        Q1 2012           336
                 Q1 2013           331
                 Q1 2014           354
                 Q2 2012           352
                 Q2 2013           345
                 Q2 2014           325
                 Q3 2012           354
                 Q3 2013           375
                 Q3 2014           195
                 Q4 2012           355
                 Q4 2013           317
Austria          Q1 2012           343
                 Q1 2013           356
                 Q1 2014           371
                 Q2 2012           353
                 Q2 2013           375
                 Q2 2014           356
                 Q3 2012           361
                 Q3 2013           384
                 Q3 2014           214

In [35]:
groups.min().head(20)

                         Order method type     Retailer type  \
Retailer country Quarter
Australia        Q1 2012            E-mail  Department Store
                 Q1 2013       Sales visit  Department Store
                 Q1 2014       Sales visit  Department Store
                 Q2 2012              Mail  Department Store
                 Q2 2013            E-mail  Department Store
                 Q2 2014       Sales visit  Department Store
                 Q3 2012       Sales visit  Department Store
                 Q3 2013       Sales visit  Department Store
                 Q3 2014       Sales visit  Department Store
                 Q4 2012       Sales visit  Department Store
                 Q4 2013       Sales visit  Department Store
Austria          Q1 2012       Sales visit  Department Store
                 Q1 2013       Sales visit  Department Store
                 Q1 2014       Sales visit  Department Store
                 Q2 2012       Sales visit  Department Store
                 Q2 2013       Sales visit  Department Store
                 Q2 2014       Sales visit  Department Store
                 Q3 2012       Sales visit  Department Store
                 Q3 2013       Sales visit  Department Store
                 Q3 2014               Web  Department Store

                               Product line Product type      Product  Year  \
Retailer country Quarter
Australia        Q1 2012  Camping Equipment   Binoculars  Aloe Relief  2012
                 Q1 2013  Camping Equipment   Binoculars  Aloe Relief  2013
                 Q1 2014  Camping Equipment   Binoculars  Aloe Relief  2014
                 Q2 2012  Camping Equipment   Binoculars  Aloe Relief  2012
                 Q2 2013  Camping Equipment   Binoculars  Aloe Relief  2013
                 Q2 2014  Camping Equipment   Binoculars  Aloe Relief  2014
                 Q3 2012  Camping Equipment   Binoculars  Aloe Relief  2012
                 Q3 2013  Camping Equipment   Binoculars  Aloe Relief  2013
                 Q3 2014  Camping Equipment   Binoculars  Aloe Relief  2014
                 Q4 2012  Camping Equipment   Binoculars  Aloe Relief  2012
                 Q4 2013  Camping Equipment   Binoculars  Aloe Relief  2013
Austria          Q1 2012  Camping Equipment   Binoculars  Aloe Relief  2012
                 Q1 2013  Camping Equipment   Binoculars  Aloe Relief  2013
                 Q1 2014  Camping Equipment   Binoculars  Aloe Relief  2014
                 Q2 2012  Camping Equipment   Binoculars  Aloe Relief  2012
                 Q2 2013  Camping Equipment   Binoculars  Aloe Relief  2013
                 Q2 2014  Camping Equipment   Binoculars  Aloe Relief  2014
                 Q3 2012  Camping Equipment   Binoculars  Aloe Relief  2012
                 Q3 2013  Camping Equipment   Binoculars  Aloe Relief  2013
                 Q3 2014  Camping Equipment   Binoculars  Aloe Relief  2014

                          Revenue  Quantity  Gross margin
Retailer country Quarter
Australia        Q1 2012     0.00         4      0.235294
                 Q1 2013     0.00        11      0.162046
                 Q1 2014     0.00        22      0.075200
                 Q2 2012     0.00         6     -0.389517
                 Q2 2013   294.00        18      0.063865
                 Q2 2014     0.00        12      0.000766
                 Q3 2012     0.00         7      0.073764
                 Q3 2013   312.00        10      0.000766
                 Q3 2014   252.00         1      0.059709
                 Q4 2012     0.00        10      0.243416
                 Q4 2013   252.00        10      0.000766
Austria          Q1 2012     0.00         5      0.069057
                 Q1 2013     0.00         8     -0.030436
                 Q1 2014     0.00         6     -0.086616
                 Q2 2012     0.00         6      0.052200
                 Q2 2013   204.00        10      0.237927
                 Q2 2014     0.00         9      0.000766
                 Q3 2012     0.00         5      0.243416
                 Q3 2013   162.00         4      0.000766
                 Q3 2014   198.74         7      0.059709

In [38]:
groups.max().head(20)

                         Order method type    Retailer type  \
Retailer country Quarter
Australia        Q1 2012               Web  Warehouse Store
                 Q1 2013               Web  Warehouse Store
                 Q1 2014               Web  Warehouse Store
                 Q2 2012               Web  Warehouse Store
                 Q2 2013               Web  Warehouse Store
                 Q2 2014               Web  Warehouse Store
                 Q3 2012               Web  Warehouse Store
                 Q3 2013               Web  Warehouse Store
                 Q3 2014               Web  Warehouse Store
                 Q4 2012               Web  Warehouse Store
                 Q4 2013               Web  Warehouse Store
Austria          Q1 2012               Web  Warehouse Store
                 Q1 2013               Web  Warehouse Store
                 Q1 2014               Web  Warehouse Store
                 Q2 2012               Web  Warehouse Store
                 Q2 2013               Web  Warehouse Store
                 Q2 2014               Web  Warehouse Store
                 Q3 2012               Web  Warehouse Store
                 Q3 2013               Web  Warehouse Store
                 Q3 2014               Web  Warehouse Store

                                  Product line Product type Product  Year  \
Retailer country Quarter
Australia        Q1 2012  Personal Accessories        Woods    Zone  2012
                 Q1 2013  Personal Accessories        Woods    Zone  2013
                 Q1 2014  Personal Accessories        Woods    Zone  2014
                 Q2 2012  Personal Accessories        Woods    Zone  2012
                 Q2 2013  Personal Accessories        Woods    Zone  2013
                 Q2 2014  Personal Accessories        Woods    Zone  2014
                 Q3 2012  Personal Accessories        Woods    Zone  2012
                 Q3 2013  Personal Accessories        Woods    Zone  2013
                 Q3 2014  Personal Accessories        Woods    Zone  2014
                 Q4 2012  Personal Accessories        Woods    Zone  2012
                 Q4 2013  Personal Accessories        Woods    Zone  2013
Austria          Q1 2012  Personal Accessories        Woods    Zone  2012
                 Q1 2013  Personal Accessories        Woods    Zone  2013
                 Q1 2014  Personal Accessories        Woods    Zone  2014
                 Q2 2012  Personal Accessories        Woods    Zone  2012
                 Q2 2013  Personal Accessories        Woods    Zone  2013
                 Q2 2014  Personal Accessories        Woods    Zone  2014
                 Q3 2012  Personal Accessories        Woods    Zone  2012
                 Q3 2013  Personal Accessories        Woods    Zone  2013
                 Q3 2014  Personal Accessories        Woods    Zone  2014

                            Revenue  Quantity  Gross margin
Retailer country Quarter
Australia        Q1 2012  166079.98      6083      0.770476
                 Q1 2013  272857.12      9442      0.763231
                 Q1 2014  516135.14     20031      0.755999
                 Q2 2012  195361.79      3222      0.770476
                 Q2 2013  420537.25      6280      0.760563
                 Q2 2014  451616.22     13117      0.757143
                 Q3 2012  153432.72      3519      0.770476
                 Q3 2013  286682.50      5886      0.760563
                 Q3 2014  188122.00      6044      0.754930
                 Q4 2012  254026.08      4617      0.770476
                 Q4 2013  443746.60      7499      0.760563
Austria          Q1 2012  185057.65      6128      0.763231
                 Q1 2013  202194.60      9662      0.763231
                 Q1 2014  286374.08      8834      0.759734
                 Q2 2012  186279.80      4397      0.770476
                 Q2 2013  226358.60      7300      0.763231
                 Q2 2014  321202.98      8492      0.757660
                 Q3 2012  173248.90      5378      0.770476
                 Q3 2013  169863.10      4989      0.763231
                 Q3 2014  131154.26      4760      0.754930

In [42]:
 funkx = ["sum","min","max"]
    
groups.agg({"Revenue": funkx,
             "Quantity": funkx,
             "Gross margin" :"mean"}).head()

                              Revenue                   Quantity             \
                                  sum    min        max      sum min    max
Retailer country Quarter
Australia        Q1 2012   6371617.26    0.0  166079.98   136096   4   6083
                 Q1 2013  10352888.71    0.0  272857.12   189677  11   9442
                 Q1 2014  15189468.08    0.0  516135.14   275275  22  20031
                 Q2 2012   5963996.94    0.0  195361.79   121604   6   3222
                 Q2 2013  12782781.31  294.0  420537.25   223759  18   6280

                         Gross margin
                                 mean
Retailer country Quarter
Australia        Q1 2012     0.446321
                 Q1 2013     0.456356
                 Q1 2014     0.445961
                 Q2 2012     0.446051
                 Q2 2013     0.453804