In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [3]:
education = pd.read_csv("data/StackOverflowDeveloperSurvey.csv",usecols=['FormalEducation'])

In [14]:
education

                                         FormalEducation
0                                       Secondary school
1      Some college/university study without earning ...
2                                      Bachelor's degree
3                                        Doctoral degree
4                                        Master's degree
...                                                  ...
51387                                  Bachelor's degree
51388                                    Master's degree
51389  Some college/university study without earning ...
51390                                  Bachelor's degree
51391                                  Bachelor's degree

[51392 rows x 1 columns]

In [15]:
type(education)

pandas.core.frame.DataFrame

In [17]:
education.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [18]:
education.tail()

                                         FormalEducation
51387                                  Bachelor's degree
51388                                    Master's degree
51389  Some college/university study without earning ...
51390                                  Bachelor's degree
51391                                  Bachelor's degree

In [19]:
allinfo=pd.read_csv("data/StackOverflowDeveloperSurvey.csv")

In [20]:
allinfo

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51387,51388,Professional developer,"Yes, I program as a hobby",United States,No,Employed full-time,Bachelor's degree,A social science,A few days each month,100 to 499 employees,...,Disagree,Male,A doctoral degree,East Asian; White or of European descent,Disagree,Agree,Strongly disagree,Strongly agree,58000.0,NaN
51388,51389,Student,No,Venezuela,"Yes, full-time",Employed full-time,Master's degree,Computer programming or Web development,Never,100 to 499 employees,...,NaN,Male,A master's degree,Black or of African descent; Hispanic or Latin...,Somewhat agree,Agree,Disagree,Agree,NaN,NaN
51389,51390,Professional developer,"Yes, I program as a hobby",Canada,No,Employed full-time,Some college/university study without earning ...,"Information technology, networking, or system ...","Less than half the time, but at least one day ...",10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51390,51391,Professional developer,"Yes, I program as a hobby",United States,No,Employed full-time,Bachelor's degree,Computer science or software engineering,Never,Fewer than 10 employees,...,Disagree,Male,A bachelor's degree,White or of European descent,Disagree,Agree,Disagree,Strongly agree,40000.0,NaN
51391,51392,Professional non-developer who sometimes write...,No,Ireland,No,Employed full-time,Bachelor's degree,Computer science or software engineering,It's complicated,"10,000 or more employees",...,Somewhat agree,Male,A bachelor's degree,White or of European descent,Somewhat agree,Strongly agree,Disagree,Strongly agree,NaN,NaN

In [21]:
type(allinfo)

pandas.core.frame.DataFrame

In [23]:
country=allinfo["Country"]

In [24]:
country.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [25]:
filterOnlyUSA = country=="United States"

In [26]:
filterOnlyUSA.head()

0     True
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [27]:
education.where(filterOnlyUSA).dropna().head(10)

              FormalEducation
0            Secondary school
3             Doctoral degree
6             Master's degree
10          Bachelor's degree
15  Primary/elementary school
17          Bachelor's degree
18          Bachelor's degree
25            Master's degree
27          Bachelor's degree
29          Bachelor's degree

In [32]:
x= education.head(10)

In [33]:
x

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree
5                                   Secondary school
6                                    Master's degree
7                                    Master's degree
8                                  Bachelor's degree
9                                    Master's degree

In [4]:
suppliers = pd.read_csv("data/suppliers_del_1.csv",usecols=['SupplierID','CompanyName','City'])

FileNotFoundError: [Errno 2] No such file or directory: 'data/suppliers_del_1.csv'